# Analyse Exploratoire Des Données

### Bibliothèques

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import scipy.stats as stats
import statsmodels.api as sm
import summarytools as st
import requests
import json
import os

### Datasets

* **Admissions_patients**

In [2]:
df_admission = pd.read_csv('../data/raw/admissions_hopital_pitie_2024.csv')
df_admission.head()

,id_admission,date_entree,service,type_admission,mode_entree,motif_principal,transplantation,duree_sejour_jours,age_patient,sexe_patient,departement_patient,gravite_score
0,ADM-202400000,2024-01-01,Coeur-Metabolisme,Ambulatoire,Urgences,Infarctus,False,0,56,M,Val-de-Marne (94),3
1,ADM-202400001,2024-01-01,ORPHé (Onco/Hémato),Ambulatoire,Programmé,Myélome,False,0,59,M,Autres IDF,1
2,ADM-202400002,2024-01-01,Chirurgie Neuro-sensorielle,Hospitalisation Complète,Programmé,Otite chronique,False,3,58,F,Autres IDF,1
3,ADM-202400003,2024-01-01,Chirurgie,Hospitalisation Complète,Programmé,Chirurgie viscérale,False,2,56,M,Paris (75),1
4,ADM-202400004,2024-01-01,ORPHé (Onco/Hémato),Ambulatoire,Programmé,Myélome,False,0,63,M,Val-de-Marne (94),1

In [3]:
df_admission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289103 entries, 0 to 289102
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id_admission         289103 non-null  object
 1   date_entree          289103 non-null  object
 2   service              289103 non-null  object
 3   type_admission       289103 non-null  object
 4   mode_entree          289103 non-null  object
 5   motif_principal      289103 non-null  object
 6   transplantation      289103 non-null  bool
 7   duree_sejour_jours   289103 non-null  int64
 8   age_patient          289103 non-null  int64
 9   sexe_patient         289103 non-null  object
 10  departement_patient  289103 non-null  object
 11  gravite_score        289103 non-null  int64
dtypes: bool(1), int64(3), object(8)
memory usage: 24.5+ MB

* **Equipements**

In [4]:
df_equipement = pd.read_csv('../data/raw/data/equipements_medicaux.csv')
df_equipement.head()

,date,service,equipement,quantite_totale,en_service,disponible,taux_utilisation
0,2024-01-01,Réanimation,Respirateurs,120,82,38,0.685
1,2024-01-01,Réanimation,Moniteurs,90,84,6,0.939
2,2024-01-01,Réanimation,Perfuseurs,100,88,12,0.880
3,2024-01-01,Réanimation,Défibrillateurs,25,15,10,0.619
4,2024-01-01,Réanimation,Ventilateurs_NIV,80,70,10,0.880

* **lits & Occupations**

In [5]:
df_ocupation = pd.read_csv('../data/raw/data/lits_et_occupation.csv')
df_ocupation.head()

         date      service  lits_totaux  lits_occupes  taux_occupation
0  2024-01-01  Réanimation           81            75            0.935
1  2024-01-01     Urgences          108            95            0.886
2  2024-01-01     Médecine          396           342            0.866
3  2024-01-01    Chirurgie          306           273            0.893
4  2024-01-01  Cardiologie          198           167            0.848

* **personel**

In [6]:
df_personnel = pd.read_csv('../data/raw/data/personnel_disponible.csv')
df_personnel.head()

,date,service,categorie,effectif_total,effectif_present,taux_absence
0,2024-01-01,Médecine,total,724,674,0.069
1,2024-01-01,Médecine,medecins,99,89,0.092
2,2024-01-01,Médecine,infirmiers,269,244,0.090
3,2024-01-01,Médecine,aides,178,164,0.078
4,2024-01-01,Chirurgie,total,561,509,0.091

* **stocks_medicaments**

In [7]:
df_stocks = pd.read_csv('../data/raw/data/stocks_medicaments.csv')
df_stocks.head()

,date,medicament,conso_jour,livraison,stock_fin,alerte_rupture,jours_stock
0,2024-01-01,Paracétamol_1g,5413,0,156587,False,28.9
1,2024-01-01,Antibiotiques,3671,0,25489,True,6.9
2,2024-01-01,Morphine_IV,798,0,5682,False,7.1
3,2024-01-01,Heparine,11506,0,85694,False,7.4
4,2024-01-01,Insuline,122202,0,72198,True,0.6